
.base64-content {
  display: flex;
  justify-content: center;
  align-items: center;

  .base64-input {
    width: 49%;
    margin: 2px !important;
  }
}

.base64-btn {
  margin: 10px 10px 0 0
}

.binary-content {
  .ninary-margin {
    margin-top: 12px;
  }
}

.binary-input {
  display: flex;
  align-items: baseline;

  p {
    margin-right: 10px;
    width: 100px;
  }
}

.download-content {
  .judge-content {
    margin-top: 20px;
  }
}

.json-content {
  display: flex !important;
  justify-content: space-between;

  .json-textarea {
    height: 500px;
  }
}


.markdown-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .between-width {
    width: 49%;
  }
}

.language-dropdown {
  display: inline-block;
  margin-bottom: 10px;
}
