
.base64-content {
  display: flex;
  justify-content: center;
  align-items: center;

  .base64-input {
    width: 49%;
    margin: 2px !important;
  }
}

.base64-btn {
  margin: 10px 10px 0 0
}

.binary-content {
  .ninary-margin {
    margin-top: 12px;
  }
}

.binary-input {
  display: flex;
  align-items: baseline;

  p {
    margin-right: 10px;
    width: 100px;
  }
}

.download-content {
  .judge-content {
    margin-top: 20px;
  }
}

