.youtube-content {
    width: 100%;
    height: 200px;
    border: 1px solid #7dbcea;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube-content-center{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube-content-left {
    font-size: 70px;
    font-weight: 700;
}

.youtube-content-right {
    margin-left: 8px;
    background-color: #D54029;
    width: 180px;
    border-radius: 26% 26% / 26% 26%;
    color: #ffffff;
    height: 120px;
    font-size: 70px;
    font-weight: 700;
    text-align: center;

}
.youtube-content-download-btn{
    margin-top: 20px;

}
