.app-header {
    color: #333;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    padding: 20px;
}

.app-content {
    display: flex;
    justify-content: center;
}
